<%- include('header') -%>
<div class="mt-4 p-5 bg-primary text-white rounded mb-4">
    <h1 class="display-4">KODI library manager</h1>

    <p class="lead">Helper for your KODI film library. You can schedule video download or diagnose files, 
        that KODI scraper hasn't found</p>
</div>
    
<h3>
    <%- Downloads.filter(e=> e.state == 'inProgress').length %> Downloads in progress
</h3>
<hr class="mb-4">
<ul class="list-group mb-4">

<% for(const download of Downloads.filter(e=> e.state == 'inProgress')) { %>
    <li class="list-group-item list-group-item-<%- stateMap[download.state] %>">
        <div class="row justify-content-between align-items-center mb-2">
            <p class="col-8"><%- download.name %> 
                <span class=" badge text-bg-secondary"><%- download.type %></span>
            </p>
            <form method="post" action="/<%- download.id %>/restart" class="col-2">
                <button type="submit" class="btn btn-warning w-100">Restart</button>
            </form>
            <form method="post" action="/<%- download.id %>/cancel" class="col-2">
                <button type="submit" class="btn btn-danger w-100">Cancel</button>
            </form>
        </div>
        <div class="progress" role="progressbar">
            <div class="progress-bar" style="width: <%- download.progress || 0 %>%"><%- download.progress?.toFixed(2) %>%</div>
        </div>
    </li>
<% } %>
</ul>



<h3 data-bs-toggle="collapse" data-bs-target="#scheduled">
    <%- Downloads.length %> Scheduled downloads
</h3>
<hr class="mb-4">
<ul class="list-group mb-4 collapse" id="scheduled">
    <% for(const download of Downloads) { %>
        <li class="list-group-item list-group-item-<%- stateMap[download.state] %>">
            <div class="row">
                <p class="col-8"><%- download.name %> 
                    <span class=" badge text-bg-<%- stateMap[download.state] %>"><%- download.state %></span>
                    <span class=" badge text-bg-secondary"><%- download.type %></span>
                </p>
                <% if (download.state == 'scheduled') { %>
                    <form method="post" action="/<%- download.id %>/download" class="col-2">
                        <button type="submit" class="btn btn-primary w-100">Start Now</button>
                    </form>
                    <form method="post" action="/<%- download.id %>/cancel" class="col-2">
                        <button type="submit" class="btn btn-danger w-100">Cancel</button>
                    </form>
                <% } else if (download.state == 'error') { %>
                    <%- download.error.message %>
                <% } %>
            </div>
        </li>
    <% } %>
</ul>

<h3 data-bs-toggle="collapse" data-bs-target="#complete">
    <%- complete.length %> Completed downloads
</h3>
<hr>
<ul class="list-group collapse" id="complete">
    <% for(const download of complete) { %>
        <li class="list-group-item list-group-item-success">
            <div class="row">
                <p class="col-8"><%- download.name %></p>
            </div>
        </li>
    <% } %>
</ul>

<% if (watchlist == undefined) { %>
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">No watchlist</h4>
        <p>No TMDB session. You can log in via <a href="/settings">settings</a></p>
<% } else { %>
    <div>
        <h3>Movie watchlist</h3>

        <div class="d-flex flex-wrap justify-content-center">
            <% watchlist.movies.forEach(function(film, i){ %>
                <%- include('./components/film-card', {
                    poster: film.poster_path,
                    name: film.name,
                    link: `/films/download/${film.id}`
                }) %>
            <% }) %>
        </div>
        <% if (watchlist.movies.length == 0) { %>
            <p>No movies in watchlist</p>
        <% } %>

        <h3>TV show watchlist</h3>

        <div class="d-flex flex-wrap justify-content-center">
            <% watchlist.shows.forEach(function(film, i){ %>
                <%- include('./components/film-card', {
                    poster: film.poster_path,
                    name: film.name,
                    link: `/series/download/${film.id}`
                }) %>
            <% }) %>
        </div>
        <% if (watchlist.shows.length == 0) { %>
            <p>No TV shows in watchlist</p>
        <% } %>
    </div>
<% } %>

<%- include('footer') -%>