<%- include('../../header') -%>
  <h1>Movies library</h1>
  <div class="d-flex flex-wrap">
    <% films.forEach(function(film, i){ %>
      <div class="card m-1 bs-image shadow-3-strong" style="width: 220px; height: 330px;
      background-image: url(<% if (film.poster != undefined) { %>
          'https://www.themoviedb.org/t/p/w220_and_h330_face<%= film.poster %>'<% } else { %>
          'https://via.placeholder.com/220x330.png?text=<%= film.name.replaceAll(' ', '+') %>'<% } %>
      );">
        <div class="card-body movie-text">
          <a href="/films/<%= film.id %>/streams"><%= film.name %></a>
        </div>
      </div>
    <% }) %>
  </div>
  
  <hr class="mb-4 mt-4">
  <div class="d-flex justify-content-center">
    <a class="btn btn-primary" href="/films/add">Add new Movie</a>
  </div>
  <style>
    .movie-text {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0) 100%);
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity .3s ease;
    }
    .movie-text:hover {
      opacity: 1;
    }

    .movie-text a {
      color: white;
      text-decoration: none;
      font-weight: 700;
    }
  </style>
<%- include('../../footer') -%>