<%- include('../header') -%>
<h1>Settings</h1>
<hr>
    <form action="/settings/update" method="post" class="form">
        <label class="form-label" for="filmPath">Films library path</label>
        <input class="form-control" type="text" name="filmsPath" id="filmPath" value="<%= filmsPath %>">
        <label class="form-label" for="filmPath">Series library path</label>
        <input class="form-control" type="text" name="seriesPath" id="seriesPath" value="<%= seriesPath %>" >
        <label class="form-label" for="downloadCron">Download Interval</label>
        <input class="form-control" type="text" name="downloadCron" id="downloadCron" value="<%= downloadCron %>">
        <div class="d-flex justify-content-between mb-2 mt-2 align-items-center">
            <label class="form-label" for="accountId">TMDB account </label>
            <% if (!session) { %>
                <a href="/settings/login" class="btn btn-secondary" id="accountId">Login</a>
            <% } else { %>
                <p class="text-success">Logged In</p>
            <% } %>
        </div>
        <div class="d-flex justify-content-between mb-2 mt-2 ">
            <div>Logs</div>
            <a href="/logs" class="btn btn-secondary align-text-right">Show</a>
        </div>
        <button type="submit" class="btn btn-primary form-control">Save</button>
    </form>
    <hr>
    <div class="d-flex justify-content-around">
        <form action="/series/reload" method="get">
            <button class="btn btn-primary" type="submit">Reload TV show library cache</button>
        </form>
        <form action="/films/reload" method="get">
            <button class="btn btn-primary" type="submit">Reload movie library cache</button>
        </form>
    </div>
    
<%- include('../footer') -%>