<%- include('../../header') %>
<div class="bg"></div>
    <div class="row align-items-center" style="min-height: 95vh;">
        <div class="col-sm-4 d-none d-sm-block">
            <% if (details != null) { %>
                <img src="https://www.themoviedb.org/t/p/w1280<%= details.poster_path %>" alt="poster" class="w-100 rounded" />
            <% } else { %>
                <img src="https://via.placeholder.com/220x330.png?text=No+poster" alt="poster" class="w-100 rounded" />
            <% } %>
        </div>
        <div class="col-sm-8 col-12">
            <h1><%- details?.name ?? show.name %></h1>
            <% if (details) { %>
                <p><%- details.overview %></p>
                <p>First aired: <%- details.first_air_date %></p>
            <% } else { %>
                <div class="alert alert-danger">
                    <p>No data found for TV show "<%- show.name %>"</p>
                </div>
            <% } %>
            <hr>
            <p><%- show.streams.length %> Videos found</p>
            <ul class="list-group">
                <% show.streams.forEach((stream, i) => { %>
                    <li class="card">   
                        <button class="card-header btn d-flex justify-content-between" data-bs-target="#collapse-<%- i %>" data-bs-toggle="collapse">
                            <%- stream.episodeData?.name ?? stream.streamData.name %> 
                            <% if (stream.episodeData) { %>
                                <span class="badge">S<%- stream.episodeData.season_number %>E<%- stream.episodeData.episode_number %></span>
                            <% } %>
                        </button>
                        <div class="card-body collapse" id="collapse-<%- i %>">
                            <div class="row">
                                <% if (stream.episodeData?.still_path) { %>
                                    <div class="col-3 d-none d-lg-block">
                                        <img src="https://media.themoviedb.org/t/p/w227_and_h127_bestv2<%= stream.episodeData.still_path %>" alt="poster" class="w-100 rounded" />
                                    </div>
                                <% } %>
                                <div class="col-lg-9 col-12">
                                    <p><%- stream.episodeData?.overview %></p>
                                    <a class="btn btn-block btn-primary" href="/series/<%- id %>/watch/<%- i %>">Watch</a>
                                    <a class="btn btn-block btn-secondary" href="/series/<%- id %>/watch/<%- i %>/file" target="_blank" 
                                        download="<%- details?.name ?? show.name %> S<%- stream.episodeData?.season_number %>E<%- stream.episodeData?.episode_number %>">Download</a>
                                    <hr>
                                    <div class="d-flex justify-content-between">
                                        <% if (!stream.error) { %>                     
                                            <p>Resolution: <span class="badge bg-primary"> <%- stream.streamData.resolution.width %>&times;<%- stream.streamData.resolution.height %></span></p>
                                            <p>Size: <%- stream.streamData.metadata.size %></p>
                                            <p>Bit rate: <%- stream.streamData.metadata.bit_rate %></p>
                                            <p>Duration: <%- stream.streamData.metadata.duration %></p>
                                        <% } else { %>
                                            <div class="alert alert-danger">
                                                <p><%- stream.streamData.error %></p>
                                            </div>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>

    <style>
        .bg {
            <% if (details != null) { %>
            background-image: url(  'https://www.themoviedb.org/t/p/w1280<%= details.backdrop_path %>');
            <% } %>
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0.3;
        }
    </style>
<%- include('../../footer') %>